.Review-my{
    margin-top: 15px;
}

.Review-my-form{
    display: flex;
    flex-direction: column;
}

.Review-my-form-input-name{
    width: 100px;
}

.Review-my-form-submit{
    margin-top: 10px;
    border-radius: 5px;
    width: 100px;
}